.MenuLayout {
  --width: 170px;
  display: flex;
  width: var(--width);
  flex-direction: column;
  background-color: var(--bgrColor);
  border-right: var(--border);
  padding-top: var(--padding-top);
  padding-left: var(--padding-left__MenuLayout);
  padding-right: var(--padding-right__MenuLayout);
}
.Menu--Item {
  width: auto;
  height: auto;
  padding: 0px;
  border-radius: var(--border-radius);
  border: none;
}
