
.MenuLayout {
    --width : 60px;
    display: flex;
    width: var(--width);
    flex-direction: column;
    align-items: center;
    background-color: var(--bgrColor);
    border-right: var(--border);
    padding-top: var(--padding-top);
}