.ScreenLayout {
  --width: var(--widthScreenLayout);
  display: flex;
  width: var(--width);
  background-color: var(--bgrColor);
  border-right: var(--border);
  padding-left: var(--padding-left__MenuLayout);
}
